<h1 class="display-4">Borrow Book</h1>
<hr class="hr-grad-title" />
<br />

<div class="row">
    <div class="col-6">
            <h4>At the moment you can't borrow any books, we're working to fix the problem</h4>
    </div>
</div>